
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
     <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag("logo.png", alt: "Eco Verde Logo", size: "200x100") %>
     <% end %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item <%= 'active' if current_page?(root_path) %>">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= 'active' if current_page?(services_path) %>">
            <%= link_to "Services", services_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= 'active' if current_page?(contact_path) %>">
            <%= link_to "Contact", contact_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Rest of your content -->

